footer{
    border-top: 1px solid $secondary-color;
    padding: 5vh 0;

    .container{
        .row{
            flex-direction: row;
            flex-wrap: nowrap;

            .footer__col{
                flex-grow: 1;
            }

            @media (max-width: $tablet) {
                flex-direction: column;                
            }
        }
    }

}