//Hero
.hero{

    .hero__title{
        padding: 200px 0 100px 0;
        border-bottom: 1px solid $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            color: $secondary-color;
            padding: 0 24px;
        }

        @media #{$tablet} {
            padding: 150px 0 50px 0;                
        }
    }
    .container{
    
        .hero__content{

            &__image{
                flex-grow: 1;
                width: 60%;
                padding: 48px 48px 48px 0;
                border-right: 1px solid $secondary-color;

                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;

                    @media #{$tablet} {
                        height: 100%;         
                    }
                }

                @media #{$tablet} {  
                    border-right: none;
                    padding: 36px;
                    border-bottom: 1px solid $secondary-color;                 
                }
                
                @media #{$tablet} {
                    padding: 0;                       
                }
            }
            &__block{
                flex-grow: 1;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 48px 0 48px 48px;

                &__text{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 20px;
                        color: $secondary-color;
                        padding: 12px 0 24px 0;
    
                        &:first-child{
                            padding: 0 0 12px 0;
                        }
    
                        @media #{$tablet} {
    
                            &:first-child{
                                padding: 12px 0;
                            }                        
                        }
                    }
                }
                
                &__cta{

                    &__button{
                        width: 100%;
                        height: auto;
                        margin: 12px 0;
                    }
                }

                @media #{$tablet} {
                    width: 100%;   
                    border-right: none;
                    padding: 36px;
                    align-items: flex-start;
                    border-bottom: none;                 
                }

                @media #{$phone} {
                    padding: 36px 24px; 
                    align-items: center;                     
                }
            }
        }
        @media #{$tablet} {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

//Stiky post
.stiky{
    .container-fluid{
        border-bottom: 1px solid $secondary-color;
        
        .row{
            justify-content: center;
            align-items: center;

            .stiky__post{
                padding: 48px;

                picture{

                    img{
                        
                        @media #{$tablet} {
                            max-width: 100%;
                            height: 100%;
                            object-fit: contain;                            
                        }
                    }
                }
                @media #{$tablet} {
                    padding: 0;                            
                }

            }
        }
        @media #{$tablet} {
            padding: 0;                            
        }
    }
}

// Poster
.poster{
    border-bottom: 1px solid $secondary-color;

    &__container{        
        padding: 0 12px;

        &__block{

            &__text{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                border-right: 1px solid $secondary-color;
                padding: 48px 48px 48px 0;
    
                p{
                    color: $secondary-color;
                    font-size: 20px;
                }
    
                @media #{$tablet} {
                    width: 100%;  
                    border-right: none; 
                    border-bottom: 1px solid $secondary-color;
                    padding: 36px 24px;         
                }
            }

            &__image{
                flex-grow: 1;
                width: 60%;
                padding: 48px 0 48px 48px;
    
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;

                    @media #{$tablet} {
                        height: 100%;         
                    }
                }

                @media #{$tablet} {
                    width: 100%;  
                    border-bottom: none;
                    padding: 0;         
                }
            }

    
            @media #{$tablet} {
                flex-direction: column;            
            }
        }
        @media #{$tablet} {
            padding: 0;            
        }
    }
}

// Poster 2
.poster2{
    border-bottom: 1px solid $secondary-color;

    &__container{        
        padding: 0 12px;

        &__block{

            &__image{
                flex-grow: 1;
                order: 1;
                width: 60%;
                border-right: 1px solid $secondary-color;
                padding: 48px 48px 48px 0;
    
                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;

                    @media #{$tablet} {
                        display: none;        
                    }
                }

                @media #{$tablet} {
                    order: 2;
                    width: 100%;  
                    border-right: none; 
                    border-bottom: 1px solid $secondary-color;
                    padding: 0;         
                }
            }

            &__text{
                flex-grow: 1;
                order: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                padding: 48px 0 48px 48px;

    
                p{
                    padding: 12px 0;
                    color: $secondary-color;
                    font-size: 20px;
                }
    
                @media #{$tablet} {
                    order: 1;
                    width: 100%;  
                    border-bottom: none;
                    padding: 36px 24px;         
                }
            }
    
            @media #{$tablet} {
                flex-direction: column;            
            }
        }
        @media #{$tablet} {
            padding: 0;            
        }
    }
}

// Focus
.focus{
    background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url('http://hotel-la-villa.local/wp-content/uploads/2023/02/foto4-scaled.jpg'); //aggiornare quando si mette online
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__text{
        padding: 48px 12px;

        p{
            width: 50%;
            padding: 12px 0;
            color: $secondary-color;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media #{$tablet} {
                width: 100%;
                padding: 36px 24px;                
            }
        }
        @media #{$tablet} {
            padding: 48px 24px;
            
        }
    }
}

//Ristorante
.ristorante{
    border-top: 1px solid $secondary-color;

    &__container{        
        padding: 0 12px;

        &__block{

            &__text{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                border-right: 1px solid $secondary-color;
                padding: 48px 48px 48px 0;
    
                h4{
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-start;
                    color: $secondary-color;
                    padding:0;

                    @media #{$tablet} {
                        padding: 48px 0;   
                        text-align: center;                     
                    }
                }
    
                @media #{$tablet} {
                    width: 100%;  
                    border-right: none; 
                    border-bottom: 1px solid $secondary-color;
                    padding: 36px 24px;         
                }

                &__button{
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-end;
                    padding: 6px 0;

                    a{
                        width: 100%;
                    }
                    @media #{$tablet} {
                        padding: 48px 0;                        
                    }
                }
            }

            &__image{
                flex-grow: 1;
                width: 60%;
                padding: 48px 0 48px 48px;
    
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;

                    @media #{$tablet} {
                        height: 100%;         
                    }
                }

                @media #{$tablet} {
                    width: 100%;  
                    border-bottom: none;
                    padding: 0;         
                }
            }
    
            @media #{$tablet} {
                flex-direction: column;            
            }
        }
        @media #{$tablet} {
            padding: 0;            
        }
    }
}

//CTA Ristorante
.cta__ristorante{
    padding: 48px 0;
    border-top: 1px solid $white-color;

    .row{
        flex-direction: row;
        justify-content: center;

        @media #{$tablet} {
            flex-direction: column;            
        }
    }

    &__button{
        flex-grow: 1;
        width: 50%;
        padding: 0 24px 0 0;

        &:last-child{
            padding: 0 0 24px 0;
        }

        @media #{$tablet} {
            width: 100%;
            padding: 24px 0;           
        }
    }
}

// Mappa
.mappa{
    height: 400px;
    border-top: 1px solid $white-color;

    &__container{
        height: 100%;
        
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}