//_header.scss

header{
    position: fixed;
    top: 0; left: 0; 
    width: 100%;
    height: 100px;
    z-index: 999;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $secondary-color;

    .container{
        height: 100%;

        .row{
            height: 100%;
            align-items: center;
            justify-content: space-between;
    
            .menu__box{
                height: 100%;
                display: flex;
                flex-grow: 10;
                justify-content: space-between;
                align-items: center;
                border-right: 1px solid $secondary-color;
    
                .logo{
                    flex-grow: 100%;
                    img{
                        width: 120px;
                    }
                }
                .menu__list{
                    flex-grow: 100%;
                    margin-right: 5%;
                    ul{
                        display: flex;
                        li{
                            flex-grow: 1;
                            margin-right: 24px;
                            a{
                                color: $secondary-color;
                                text-decoration: none; 
                                transition: all 0.4s ease-in-out;
        
                                &:hover{
                                    color: $white-color;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    @media #{$tablet} {
                        display: none;
                        
                    }
                }
            }
    
            .menu__cta{
                height: 100%;
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                align-items: center;
    
                .header__hamburger{
                    display: none;

                    button{
                        .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
                            background-color: $secondary-color;

                        }
                    }

                    @media #{$tablet} {
                        display: flex;
                        align-items: center;   
                    }
                }
                .cta{
                    flex-grow: 100%;

                    @media #{$tablet} {
                        display: none;                        
                    }
                }
            }
        }
        .menu__mobile{
            display: none;
        }

        @media #{$tablet} {
            .menu__mobile{
                display: flex;
                flex-direction: column;
                background-color: $bg-color;
                transform: translateX(-120%);
                margin-left: -12px;
                margin-right: -12px;
                border: 1px solid $secondary-color;
                transition: all 0.3s ease-in;
    
                ul{
                    flex-grow: 2;
                    display: flex;
                    flex-direction: column;
    
                    li{
                        flex-grow: 1;
                        padding: 4vh 24px;
                        border-bottom: 1px solid $secondary-color;
    
                        a{
                            color: $secondary-color;
                            text-decoration: none; 
                            font-size: 20px;
                        }
                    }                
                }
    
                .cta__mobile{
                    flex-grow: 1;
                    width: 100%;
                    margin: 4vh 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0 24px;
    
                    a{
                        width: 100%;
                        margin: 12px 0;
                    }
                }
            }
            .open{
                transform: translateX(0);
            }            
        }
    }
}